* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    border: 0;
    outline: 0;
    font-family: "Raleway", sans-serif;
}

.padding {
    padding: 20px 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 2;
}

header nav .fa-solid {
    font-size: 30px;
    cursor: pointer;
}

header nav .fa-solid:hover {
    color: red;
}

.first {
    height: 92svh;
    background-image: url(../images/12798min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.space {
    width: 100%;
    height: 50%;
}

.text {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.first .text .heading {
    width: 50%;
}

.first .text .heading h1 {
    font-size: 47px;
    color: white;
    text-align: left;
}

.first .text .heading h1 span {
    display: block;
}

.first .text .par {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    gap: 30px;
}

.first .text .par p {
    font-size: 16px;
    color: white;
    line-height: 1.7;
    word-spacing: 5px;
}

.first .text .par .second-pra a {
    color: white;
    line-height: 1.7;
}

@media screen and (max-width: 768px) {
    .text {
        justify-content: space-evenly;
    }
    .first .text .heading {
        margin-top: 300px;
        width: 100%;
    }

    .first .text .par {
        width: 100%;
    }
    .first .text .heading h1 {
        text-align: left;
    }

    .first .text .heading h1 span {
        display: inline;
    }
    .first .text .par {
        text-align: left;
        align-items: flex-start;
    }
}

section.second {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax(250px, 1fr));
    gap: 30px;
    background-color: #1a1a1a;
    padding: 50px;
}

section.second .card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 30px 30px 30px;
    background-color: #434951;
    background-image: linear-gradient(#545b65, #2b2f35);
    box-shadow: 0px 0px 13px 0px black;
}

section.second .card h2 {
    font-size: 47px;
    color: white;
}

section.second .card h3 {
    font-size: 24px;
    color: white;
    font-weight: 500;
}

section.second .card p {
    color: #b3b3a1;
    line-height: 1.7;
}

section.second .card a {
    color: white;
}

section.third {
    min-height: 70svh;
    background-color: #e0e5eb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section.third h2 {
    font-size: 42px;
}

section.third p {
    max-width: 800px;
    font-size: 24px;
    text-align: center;
    line-height: 1.7;
}

section.third button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: #038cb6;
    color: white;
    font-size: 18px;
}

section.third button:hover {
    background-color: black;
}

section.fourth {
    min-height: 80svh;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    flex-wrap: wrap;
}

section.fourth .image img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

section.fourth .text-f {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section.fourth .text-f h2 {
    font-size: 47px;
    color: white;
    font-weight: 400;
}

section.fourth .text-f p {
    color: white;
    line-height: 1.7;
    font-size: 18px;
}

section.fourth .text-f p a {
    color: white;
}

section.fourth .text-f button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: #038cb6;
    color: white;
    font-size: 18px;
}

section.fourth .text-f button:hover {
    color: black;
    background-color: white;
}

footer {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

footer p a {
    text-decoration: none;
    font-weight: bold;
    color: #1a1a1a;
}
